.body_login{
    background-color: rgb(0, 0, 0);
}
.main_login{
    .login{
        .primera_parte_login{
            h1{
                display: flex;
                justify-content: center;
                width: 1295px;
                margin-top: 5%;
                font-family: 'Poppins', sans-serif;
                color: #F0FA5A;
                font-size: 2rem;
            }
        }
        .parrafos_login{
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            p{
                width: 247px;
                font-family: 'Rubik', sans-serif;
                color: #F0FA5A;
                font-size: 12px;
            }
        }
    }
    .login-form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: none;
        margin-top: 3rem;
        input{
            width: 12rem;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #F0FA5A;
            color: #F0FA5A;
            padding: 5px;
            margin-bottom: 15px;
            transition: all 0.3s ease-in-out;
            font-size: 12px;
            }&:focus{
            outline: none;
            border-bottom: 1px solid #F0FA5A;
            padding: 7px;
            background-color: #F0FA5A;
            }input::placeholder{
            color: #F0FA5A;
            }
    }
    .parrafo{
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
        p{
            font-size: 9px;
            width: 250px;
            font-family: 'Poppins', sans-serif;
            color: #F0FA5A;
        }
    }
    .boton_submit{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        input[type="submit"]{
            background-color: #F0FA5A;
            border-radius: 5px;
            font-size: 10px;
            border: none;
            color: black;
            font-family: 'Rubik', sans-serif;
            padding: 10px;
            width: 200px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            }&:hover{
                transform: translateY(-2px);
        }
    }
    .olvido_su_contraseña{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        input[type="button"]{
            font-size: 10px;
                border-radius: 5px;
                font-family: 'Rubik', sans-serif;
                width: 200px;
                border: 1px solid #F0FA5A;
                background-color: transparent;
                color: #F0FA5A;
                padding: 10px 20px; /* Ajusta el padding según tus preferencias */
                cursor: pointer;
                }&:hover{
                    transform: translateY(-2px);
                }
    }
}