.body_index{
    background-color: #313213;
}
main{
    width: 100%;
    .sec1{
        h1{
            margin-top: 10%;
            font-family: 'Rubik', sans-serif;
            color: #F0FA5A;
            text-align: center;
            font-size: 3rem;
            #marca_registrada{
                font-size: 0.3em;
                vertical-align: text-top;
            }
        }
    }
    .sec2{
        .buton{
            margin-top: 7rem;
            display: flex;
            justify-content: center;
            input{
                font-family: 'Rubik', sans-serif;
                text-align: center;
                display: inline-block;
                padding: .6875rem 2.3125rem;
                background-color: #F0FA5A;
                border: none;
                font-weight: bold;
                border-radius: 5px;
                font-size: 12px;
                width: 200px;
            }&:hover{
                transform: translateY(-2px);
            }
        }
        .create{
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            input[type="button"]{
                font-size: 12px;
                font-weight: bold;
                border-radius: 5px;
                font-family: 'Rubik', sans-serif;
                width: 200px;
                border: 1px solid #F0FA5A;
                background-color: transparent;
                color: #F0FA5A;
                padding: .6875rem 2.3125rem;
                cursor: pointer;
                }&:hover{
                    transform: translateY(-2px);
                }
        }
    }
}