header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        margin: .625rem;
        width: 2rem;
        border-radius: 5px;
    }
    nav{
        ul{
            li{
                list-style: none;
                a{
                    margin: .625rem;
                    text-decoration: none;
                    color: $color_principal;
                    font-size: 2rem;
                }
            }
        }
    }
}